
body{
    font-size:14 px;
    color: #000000;
    font-weight: bold;
    line-height: 18 px;
    font-family: "PT Sans"
}
h1{
    font-size:30 px;
    color: #000000;
    font-weight: bold;
    line-height: 42 px;
    font-family: "PT Sans"
}
h2{
    font-size:24 px;
    color: #000000;
    font-weight: bold;
    line-height: 30 px;
    font-family: "PT Sans";
}


html,
body {
    min-width: 1122px;
    min-height: 1750px;
    margin: 0;
    padding: 0;
}

body {
    background: #000000 url("barbershop-index-grid.jpg") no-repeat 50% 3px;
    background-size: 1122px auto;
}
.clearfix::after {
    content: "";

    display: table;
    clear: both;
}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
.main-header {
    margin-bottom: 60px;
}
h1 {
    margin-bottom: 30px;
}
.main-navigation {
    float: left;
    width: 780px;
}
.user-block {
    float: right;
    width: 140px;
}
.index-content-left  .index-content-right {
   
}
.index-content-left {
float: left;
  width: 220px;
}
.index-content-right {
 float: right;
 width: 716px; 
 
}
.pagination-list {
clear: both;
  width: 230px
}
.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}

.footer-social { 
    float: left;
    width: 180px;
}

.footer-copyright {
    float: right;
    width: 180px;
}
.content-top {
    width: 700px; 
    min-height: 290px;
}
.product {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px;    
}
.name {
    padding-right: 15 px ;
    margin-top: 15px;
    margin-bottom: 15px
}
.prise {
    
  display: inline-block;
}
.to-buy a {
 display: inline-block;   
}
.breadscrumbs {
   width: 640px;
  margin-left: 0; 
}
.main-column-left {
    float: left;
    width: 460px;
    padding: 0px;
}
.main-column-right {
    float: right;
    width: 400px;
   
} 
.m-photo li {
     float: left;
  width: 140px;
  margin-right: 20px;
    
}
.m-photo li:last-child {
    margin-right: 0;
}
.mini-photo {
    padding-left: 0px;
   
}
.photo-item {
    margin-right: 0;
    margin-left: 0;
}
.m-photo {
    padding-left: 0
}
.art {
    margin-bottom: 20px;
}
.price-item {
    display: inline-block; 
    
}
.to-buy a {
    display: inline-block; 
    
}
.about-item {
    margin-bottom: 20px;
}

/*======================================
 Системное оформление - не изменять
=======================================*/

body {
  padding: 3px;
}

body > *,
body > * > *,
body > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before {
  content: "";
  position: absolute;

  height: 24px;
  padding: 2px 5px;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  font-family: "Courier New", monotype;
  white-space: nowrap;
}

body > *::before {
  top: -3px;
  left: -3px;
}

body > * > *::before {
  top: -3px;
  left: -3px;
}

body > * > * > *::before {
  top: 0;
  left: 0;
}

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > *::before {
  color: white;

  background: green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > *::before {
  color: white;

  background: rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);

}

body > * > * > *::before {
  color: black;

  background: rgb(234, 255, 45);
}

.main-header::before {
  content: ".main-header";
}

.container::before {
  content: ".container";
}

.main-header .container::before {
  top: auto;
  bottom: -28px;
}

.main-navigation::before {
  content: ".main-navigation";
}

.user-block::before {
  content: ".user-block";
}
>>>>>>> parent of 99b288b... Revert "Revert "изменила код""
