html,
body {
  min-width: 1122px;
  min-height: 1750px;
  margin: 0;
  padding: 0;
}

body {
  background: #000000 url("barbershop-index-grid.jpg") no-repeat 50% 3px;
  background-size: 1122px auto;
}
.main-header {
   min-height: 70px;

}
.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
min-height: 70px;
}


.index-logo {
 width: 140px;
      float: left;
    margin-right: 20px;
    padding-top: 0px;
    padding-left: 15px;
}
.main-navigation-top {
 margin-top: 0px;
}
.main-navigation-bottom {
 float: left;   
}

.user-blok {
   min-height: 70px;
   float: right;
}










